## Import Libraries and Dataset

In [44]:
import pandas as pd
import numpy as np

In [45]:
DeathTotals = pd.read_excel('C:/Users/sglov/Desktop/Final Project/Death Totals.xlsx')
DeathTotals.head()

,#,USA,Total,New,Total.1,New.1,Total.2,Active,Cases per 1M,Deaths,Total.3,Tests,Population,Source,Projections
0,NaN,State,Cases,Cases,Deaths,Deaths,Recovered,Cases,NaN,1M pop,Tests,1M pop,NaN,NaN,NaN
1,NaN,USA Total,14369946,55681,280656,789,8473332,5615958,43413.0,848,200248551,604976,NaN,NaN,NaN
2,1.0,New York,703443,NaN,34728,NaN,444577,224138,36160.0,1785,19761724,1015841,19453561.0,[view by county] [1] [2] [3],[projections]
3,2.0,Texas,1299915,NaN,22505,NaN,1031415,245995,44831.0,776,12190111,420408,28995881.0,[view by county] [1] [2] [3],[projections]
4,3.0,California,1269389,NaN,19443,NaN,592299,657647,32126.0,492,24299126,614977,39512223.0,[view by county] [1],[projections]

## Rename Columns to better define what the data is

In [46]:
DeathTotals.rename(columns={'Total' : 'Total Cases', 'USA' : 'State', 'Total.1' : 'Total Deaths', 'Deaths' : 'Deaths per 1M'}, inplace=True)
DeathTotals.head()

,#,State,Total Cases,New,Total Deaths,New.1,Total.2,Active,Cases per 1M,Deaths per 1M,Total.3,Tests,Population,Source,Projections
0,NaN,State,Cases,Cases,Deaths,Deaths,Recovered,Cases,NaN,1M pop,Tests,1M pop,NaN,NaN,NaN
1,NaN,USA Total,14369946,55681,280656,789,8473332,5615958,43413.0,848,200248551,604976,NaN,NaN,NaN
2,1.0,New York,703443,NaN,34728,NaN,444577,224138,36160.0,1785,19761724,1015841,19453561.0,[view by county] [1] [2] [3],[projections]
3,2.0,Texas,1299915,NaN,22505,NaN,1031415,245995,44831.0,776,12190111,420408,28995881.0,[view by county] [1] [2] [3],[projections]
4,3.0,California,1269389,NaN,19443,NaN,592299,657647,32126.0,492,24299126,614977,39512223.0,[view by county] [1],[projections]

In [47]:
DeathTotals

,#,State,Total Cases,New,Total Deaths,New.1,Total.2,Active,Cases per 1M,Deaths per 1M,Total.3,Tests,Population,Source,Projections
0,NaN,State,Cases,Cases,Deaths,Deaths,Recovered,Cases,NaN,1M pop,Tests,1M pop,NaN,NaN,NaN
1,NaN,USA Total,14369946,55681,280656,789,8473332,5615958,43413.0,848,200248551,604976,NaN,NaN,NaN
2,1.0,New York,703443,NaN,34728,NaN,444577,224138,36160.0,1785,19761724,1015841,19453561.0,[view by county] [1] [2] [3],[projections]
3,2.0,Texas,1299915,NaN,22505,NaN,1031415,245995,44831.0,776,12190111,420408,28995881.0,[view by county] [1] [2] [3],[projections]
4,3.0,California,1269389,NaN,19443,NaN,592299,657647,32126.0,492,24299126,614977,39512223.0,[view by county] [1],[projections]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,60.0,Navajo Nation,17035,NaN,658,NaN,9512,6865,NaN,NaN,166820,NaN,NaN,[1] [2] [3],NaN
62,61.0,Grand Princess Ship,103,NaN,3,NaN,NaN,100,NaN,NaN,NaN,NaN,NaN,[1],NaN
63,62.0,Wuhan Repatriated,3,NaN,NaN,NaN,NaN,3,NaN,NaN,3,NaN,NaN,NaN,NaN
64,63.0,Diamond Princess Ship,46,NaN,NaN,NaN,NaN,46,NaN,NaN,46,NaN,NaN,NaN,NaN
65,NaN,Total:,14369946,55681,280656,789,8473332,5615958,43413.0,848,200248551,604976,NaN,NaN,NaN

In [48]:
DeathTotals2 = DeathTotals.drop(DeathTotals.index[[0, 1, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64]])
DeathTotals2

,#,State,Total Cases,New,Total Deaths,New.1,Total.2,Active,Cases per 1M,Deaths per 1M,Total.3,Tests,Population,Source,Projections
2,1.0,New York,703443,NaN,34728,NaN,444577,224138,36160.0,1785,19761724,1015841,19453561.0,[view by county] [1] [2] [3],[projections]
3,2.0,Texas,1299915,NaN,22505,NaN,1031415,245995,44831.0,776,12190111,420408,28995881.0,[view by county] [1] [2] [3],[projections]
4,3.0,California,1269389,NaN,19443,NaN,592299,657647,32126.0,492,24299126,614977,39512223.0,[view by county] [1],[projections]
5,4.0,Florida,1018160,NaN,18776,NaN,662473,336911,47405.0,874,12615881,587393,21477737.0,[view by county] [1] [2] [3],[projections]
6,5.0,New Jersey,358048,3294,17337,52,199533,141178,40311.0,1952,6176836,695418,8882190.0,[view by county] [1],[projections]
7,6.0,Illinois,748603,NaN,13397,NaN,390650,344556,59076.0,1057,10699586,844361,12671821.0,[1] [2] [3] [4] [5],[projections]
8,7.0,Pennsylvania,391764,10422,11000,175,225316,155448,30602.0,859,5708285,445890,12801989.0,[view by county] [1],[projections]
9,8.0,Massachusetts,234232,NaN,10824,NaN,178018,45390,33984.0,1570,8566262,1242838,6892503.0,[1],[projections]
10,9.0,Michigan,402886,NaN,9842,NaN,165269,227775,40342.0,985,7201724,721120,9986857.0,[1] [2] [3] [4],[projections]
11,10.0,Georgia,482139,NaN,9567,NaN,301216,171356,45410.0,901,4728290,445333,10617423.0,[1] [2],[projections]
12,11.0,Arizona,346421,5442,6821,82,53694,285906,47594.0,937,2672914,367223,7278717.0,[1],[projections]
13,12.0,Ohio,437928,NaN,6671,NaN,289768,141489,37465.0,571,6194031,529898,11689100.0,[view by county] [1] [2] [3],[projections]
14,13.0,Louisiana,244078,2743,6524,23,202891,34663,52504.0,1403,3645006,784076,4648794.0,[view by county] [1],[projections]
15,14.0,Indiana,359430,8460,6033,60,208176,145221,53390.0,896,4402956,654013,6732219.0,[1] [2],[projections]
16,15.0,North Carolina,377231,5637,5410,44,315979,55842,35968.0,516,5409434,515770,10488084.0,[1] [2] [3],[projections]
17,16.0,Connecticut,121426,NaN,5091,NaN,48015,68320,34058.0,1428,3319482,931056,3565287.0,[1] [2],[projections]
18,17.0,Maryland,205399,2044,4764,49,8675,191960,33975.0,788,4527316,748851,6045680.0,[1],[projections]
19,18.0,Tennessee,384285,NaN,4688,NaN,342115,37482,56271.0,686,4574275,669814,6829174.0,[1] [2] [3],[projections]
20,19.0,South Carolina,220835,NaN,4444,NaN,116292,100099,42891.0,863,2749657,534047,5148714.0,[1] [2] [3],[projections]
21,20.0,Missouri,322963,NaN,4276,NaN,88298,230389,52622.0,697,3329825,542544,6137428.0,[1] [2] [3] [4] [5] [6] [7] [8],[projections]
22,21.0,Virginia,244503,2023,4147,34,24782,215574,28645.0,486,3869288,453316,8535519.0,[1] [2],[projections]
23,22.0,Mississippi,159036,2168,3879,28,128746,26411,53437.0,1303,1366833,459262,2976149.0,[1] [2] [3],[projections]
24,23.0,Minnesota,333626,6149,3843,92,290019,39764,59157.0,681,4379610,776577,5639632.0,[1] [2],[projections]
25,24.0,Alabama,260359,3531,3776,65,168387,88196,53100.0,770,1689536,344579,4903185.0,[1],[projections]
26,25.0,Wisconsin,395090,NaN,3502,NaN,325587,66001,67857.0,601,2557706,439285,5822434.0,[1] [2] [3] [4] [5] [6],[projections]
27,26.0,Colorado,241172,NaN,3193,NaN,56278,181701,41879.0,554,1779383,308988,5758736.0,[1],[projections]
28,27.0,Washington,177088,NaN,2869,NaN,68347,105872,23255.0,377,2894367,380093,7614893.0,[view by county] [1],[projections]
29,28.0,Arkansas,161521,NaN,2522,NaN,142600,16399,53523.0,836,1848132,612410,3017804.0,[1] [2] [3] [4] [5],[projections]
30,29.0,Iowa,236794,1980,2519,70,147153,87122,75052.0,798,1229583,389717,3155070.0,[1] [2],[projections]
31,30.0,Nevada,156996,NaN,2201,NaN,85069,69726,50970.0,715,1664999,540557,3080156.0,[1] [2],[projections]
32,31.0,Kentucky,186765,NaN,1980,NaN,28468,156317,41804.0,443,2830995,633662,4467673.0,[1] [2] [3],[projections]
33,32.0,Oklahoma,202341,NaN,1812,NaN,170905,29624,51135.0,458,2151411,543701,3956971.0,[1] [2] [3],[projections]
34,33.0,Kansas,163969,NaN,1679,NaN,99601,62689,56283.0,576,831182,285305,2913314.0,[1] [2] [3] [4] [5] [6] [7] [8] [9],[projections]
35,34.0,New Mexico,100963,NaN,1629,NaN,34411,64923,48150.0,777,1592222,759348,2096829.0,[1] [2],[projections]
36,35.0,Rhode Island,59005,NaN,1391,NaN,3839,53775,55699.0,1313,1574531,1486303,1059361.0,[1] [2],[projections]
37,36.0,Nebraska,130194,NaN,1080,NaN,64975,64139,67304.0,558,748721,387054,1934408.0,[1] [2],[projections]
38,37.0,South Dakota,82203,NaN,995,NaN,66351,14857,92921.0,1125,332540,375896,884659.0,[1],[projections]
39,38.0,Idaho,104734,NaN,991,NaN,41838,61905,58607.0,555,726473,406517,1787065.0,[1] [2] [3],[projections]
40,39.0,North Dakota,80135,NaN,966,NaN,73933,5236,105155.0,1268,351652,461448,762062.0,[1] [2],[projections]
41,40.0,Oregon,78160,NaN,953,NaN,NaN,NaN,18531.0,226,2021942,479390,4217737.0,[1] [2] [3],[projections]
42,41.0,Utah,202220,NaN,906,NaN,138995,62319,63076.0,283,2087151,651023,3205958.0,[1] [2] [3],[projections]
43,42.0,West Virginia,51025,1120,789,11,32808,17428,28471.0,440,1163674,649318,1792147.0,[1],[projections]
44,43.0,Delaware,36698,NaN,779,NaN,17907,18012,37687.0,800,428533,440079,973764.0,[1],[projections]
45,44.0,Montana,64340,NaN,713,NaN,47533,16094,60200.0,667,663581,620878,1068778.0,[1] [2] [3] [4],[projections]
46,45.0,District Of Columbia,22164,322,692,2,16268,5204,31405.0,981,709991,1006011,705749.0,[1],[projections]
47,46.0,New Hampshire,22332,NaN,537,NaN,17101,4694,16424.0,395,831649,611637,1359711.0,[1] [2],[projections]
48,47.0,Hawaii,18044,NaN,244,NaN,13182,4618,12744.0,172,677445,478465,1415872.0,[1] [2] [3] [4] [5],[projections]
49,48.0,Wyoming,34537,NaN,230,NaN,26568,7739,59674.0,397,419587,724977,578759.0,[1] [2],[projections]
50,49.0,Maine,12554,346,220,2,9733,2601,9339.0,164,927793,690213,1344212.0,[1] [2],[projections]
51,50.0,Alaska,32531,NaN,121,NaN,NaN,NaN,44469.0,165,1024643,1400656,731545.0,[1],[projections]
65,NaN,Total:,14369946,55681,280656,789,8473332,5615958,43413.0,848,200248551,604976,NaN,NaN,NaN

In [49]:
DeathTotals2.reset_index(drop=True, inplace=True)
DeathTotals2

,#,State,Total Cases,New,Total Deaths,New.1,Total.2,Active,Cases per 1M,Deaths per 1M,Total.3,Tests,Population,Source,Projections
0,1.0,New York,703443,NaN,34728,NaN,444577,224138,36160.0,1785,19761724,1015841,19453561.0,[view by county] [1] [2] [3],[projections]
1,2.0,Texas,1299915,NaN,22505,NaN,1031415,245995,44831.0,776,12190111,420408,28995881.0,[view by county] [1] [2] [3],[projections]
2,3.0,California,1269389,NaN,19443,NaN,592299,657647,32126.0,492,24299126,614977,39512223.0,[view by county] [1],[projections]
3,4.0,Florida,1018160,NaN,18776,NaN,662473,336911,47405.0,874,12615881,587393,21477737.0,[view by county] [1] [2] [3],[projections]
4,5.0,New Jersey,358048,3294,17337,52,199533,141178,40311.0,1952,6176836,695418,8882190.0,[view by county] [1],[projections]
5,6.0,Illinois,748603,NaN,13397,NaN,390650,344556,59076.0,1057,10699586,844361,12671821.0,[1] [2] [3] [4] [5],[projections]
6,7.0,Pennsylvania,391764,10422,11000,175,225316,155448,30602.0,859,5708285,445890,12801989.0,[view by county] [1],[projections]
7,8.0,Massachusetts,234232,NaN,10824,NaN,178018,45390,33984.0,1570,8566262,1242838,6892503.0,[1],[projections]
8,9.0,Michigan,402886,NaN,9842,NaN,165269,227775,40342.0,985,7201724,721120,9986857.0,[1] [2] [3] [4],[projections]
9,10.0,Georgia,482139,NaN,9567,NaN,301216,171356,45410.0,901,4728290,445333,10617423.0,[1] [2],[projections]
10,11.0,Arizona,346421,5442,6821,82,53694,285906,47594.0,937,2672914,367223,7278717.0,[1],[projections]
11,12.0,Ohio,437928,NaN,6671,NaN,289768,141489,37465.0,571,6194031,529898,11689100.0,[view by county] [1] [2] [3],[projections]
12,13.0,Louisiana,244078,2743,6524,23,202891,34663,52504.0,1403,3645006,784076,4648794.0,[view by county] [1],[projections]
13,14.0,Indiana,359430,8460,6033,60,208176,145221,53390.0,896,4402956,654013,6732219.0,[1] [2],[projections]
14,15.0,North Carolina,377231,5637,5410,44,315979,55842,35968.0,516,5409434,515770,10488084.0,[1] [2] [3],[projections]
15,16.0,Connecticut,121426,NaN,5091,NaN,48015,68320,34058.0,1428,3319482,931056,3565287.0,[1] [2],[projections]
16,17.0,Maryland,205399,2044,4764,49,8675,191960,33975.0,788,4527316,748851,6045680.0,[1],[projections]
17,18.0,Tennessee,384285,NaN,4688,NaN,342115,37482,56271.0,686,4574275,669814,6829174.0,[1] [2] [3],[projections]
18,19.0,South Carolina,220835,NaN,4444,NaN,116292,100099,42891.0,863,2749657,534047,5148714.0,[1] [2] [3],[projections]
19,20.0,Missouri,322963,NaN,4276,NaN,88298,230389,52622.0,697,3329825,542544,6137428.0,[1] [2] [3] [4] [5] [6] [7] [8],[projections]
20,21.0,Virginia,244503,2023,4147,34,24782,215574,28645.0,486,3869288,453316,8535519.0,[1] [2],[projections]
21,22.0,Mississippi,159036,2168,3879,28,128746,26411,53437.0,1303,1366833,459262,2976149.0,[1] [2] [3],[projections]
22,23.0,Minnesota,333626,6149,3843,92,290019,39764,59157.0,681,4379610,776577,5639632.0,[1] [2],[projections]
23,24.0,Alabama,260359,3531,3776,65,168387,88196,53100.0,770,1689536,344579,4903185.0,[1],[projections]
24,25.0,Wisconsin,395090,NaN,3502,NaN,325587,66001,67857.0,601,2557706,439285,5822434.0,[1] [2] [3] [4] [5] [6],[projections]
25,26.0,Colorado,241172,NaN,3193,NaN,56278,181701,41879.0,554,1779383,308988,5758736.0,[1],[projections]
26,27.0,Washington,177088,NaN,2869,NaN,68347,105872,23255.0,377,2894367,380093,7614893.0,[view by county] [1],[projections]
27,28.0,Arkansas,161521,NaN,2522,NaN,142600,16399,53523.0,836,1848132,612410,3017804.0,[1] [2] [3] [4] [5],[projections]
28,29.0,Iowa,236794,1980,2519,70,147153,87122,75052.0,798,1229583,389717,3155070.0,[1] [2],[projections]
29,30.0,Nevada,156996,NaN,2201,NaN,85069,69726,50970.0,715,1664999,540557,3080156.0,[1] [2],[projections]
30,31.0,Kentucky,186765,NaN,1980,NaN,28468,156317,41804.0,443,2830995,633662,4467673.0,[1] [2] [3],[projections]
31,32.0,Oklahoma,202341,NaN,1812,NaN,170905,29624,51135.0,458,2151411,543701,3956971.0,[1] [2] [3],[projections]
32,33.0,Kansas,163969,NaN,1679,NaN,99601,62689,56283.0,576,831182,285305,2913314.0,[1] [2] [3] [4] [5] [6] [7] [8] [9],[projections]
33,34.0,New Mexico,100963,NaN,1629,NaN,34411,64923,48150.0,777,1592222,759348,2096829.0,[1] [2],[projections]
34,35.0,Rhode Island,59005,NaN,1391,NaN,3839,53775,55699.0,1313,1574531,1486303,1059361.0,[1] [2],[projections]
35,36.0,Nebraska,130194,NaN,1080,NaN,64975,64139,67304.0,558,748721,387054,1934408.0,[1] [2],[projections]
36,37.0,South Dakota,82203,NaN,995,NaN,66351,14857,92921.0,1125,332540,375896,884659.0,[1],[projections]
37,38.0,Idaho,104734,NaN,991,NaN,41838,61905,58607.0,555,726473,406517,1787065.0,[1] [2] [3],[projections]
38,39.0,North Dakota,80135,NaN,966,NaN,73933,5236,105155.0,1268,351652,461448,762062.0,[1] [2],[projections]
39,40.0,Oregon,78160,NaN,953,NaN,NaN,NaN,18531.0,226,2021942,479390,4217737.0,[1] [2] [3],[projections]
40,41.0,Utah,202220,NaN,906,NaN,138995,62319,63076.0,283,2087151,651023,3205958.0,[1] [2] [3],[projections]
41,42.0,West Virginia,51025,1120,789,11,32808,17428,28471.0,440,1163674,649318,1792147.0,[1],[projections]
42,43.0,Delaware,36698,NaN,779,NaN,17907,18012,37687.0,800,428533,440079,973764.0,[1],[projections]
43,44.0,Montana,64340,NaN,713,NaN,47533,16094,60200.0,667,663581,620878,1068778.0,[1] [2] [3] [4],[projections]
44,45.0,District Of Columbia,22164,322,692,2,16268,5204,31405.0,981,709991,1006011,705749.0,[1],[projections]
45,46.0,New Hampshire,22332,NaN,537,NaN,17101,4694,16424.0,395,831649,611637,1359711.0,[1] [2],[projections]
46,47.0,Hawaii,18044,NaN,244,NaN,13182,4618,12744.0,172,677445,478465,1415872.0,[1] [2] [3] [4] [5],[projections]
47,48.0,Wyoming,34537,NaN,230,NaN,26568,7739,59674.0,397,419587,724977,578759.0,[1] [2],[projections]
48,49.0,Maine,12554,346,220,2,9733,2601,9339.0,164,927793,690213,1344212.0,[1] [2],[projections]
49,50.0,Alaska,32531,NaN,121,NaN,NaN,NaN,44469.0,165,1024643,1400656,731545.0,[1],[projections]
50,NaN,Total:,14369946,55681,280656,789,8473332,5615958,43413.0,848,200248551,604976,NaN,NaN,NaN

In [50]:
DeathTotals2.drop(DeathTotals2.columns[[0, 3, 5, 6, 7, 10, 11, 13, 14]], axis = 1, inplace = True)

In [51]:
DeathTotals2.tail()

      State Total Cases Total Deaths  Cases per 1M Deaths per 1M  Population
46   Hawaii       18044          244       12744.0           172   1415872.0
47  Wyoming       34537          230       59674.0           397    578759.0
48    Maine       12554          220        9339.0           164   1344212.0
49   Alaska       32531          121       44469.0           165    731545.0
50   Total:    14369946       280656       43413.0           848         NaN

In [52]:
DeathTotals3 = DeathTotals2.dropna()

In [53]:
DeathTotals3.tail()

,State,Total Cases,Total Deaths,Cases per 1M,Deaths per 1M,Population
45,New Hampshire,22332,537,16424.0,395,1359711.0
46,Hawaii,18044,244,12744.0,172,1415872.0
47,Wyoming,34537,230,59674.0,397,578759.0
48,Maine,12554,220,9339.0,164,1344212.0
49,Alaska,32531,121,44469.0,165,731545.0

In [54]:
DeathTotals3.head()

        State Total Cases Total Deaths  Cases per 1M Deaths per 1M  Population
0    New York      703443        34728       36160.0          1785  19453561.0
1       Texas     1299915        22505       44831.0           776  28995881.0
2  California     1269389        19443       32126.0           492  39512223.0
3     Florida     1018160        18776       47405.0           874  21477737.0
4  New Jersey      358048        17337       40311.0          1952   8882190.0

## Create new row with Totals

In [55]:
TotalDF = pd.DataFrame(DeathTotals3.sum())

In [56]:
TotalDF

                                                               0
State          New YorkTexasCaliforniaFloridaNew JerseyIllino...
Total Cases                                             13979674
Total Deaths                                              273299
Cases per 1M                                         2.32294e+06
Deaths per 1M                                              38920
Population                                           3.27616e+08

In [57]:
DeathTotals3 = DeathTotals3.append(TotalDF.transpose())

In [58]:
DeathTotals3

,State,Total Cases,Total Deaths,Cases per 1M,Deaths per 1M,Population
0,New York,703443,34728,36160,1785,1.94536e+07
1,Texas,1299915,22505,44831,776,2.89959e+07
2,California,1269389,19443,32126,492,3.95122e+07
3,Florida,1018160,18776,47405,874,2.14777e+07
4,New Jersey,358048,17337,40311,1952,8.88219e+06
5,Illinois,748603,13397,59076,1057,1.26718e+07
6,Pennsylvania,391764,11000,30602,859,1.2802e+07
7,Massachusetts,234232,10824,33984,1570,6.8925e+06
8,Michigan,402886,9842,40342,985,9.98686e+06
9,Georgia,482139,9567,45410,901,1.06174e+07
10,Arizona,346421,6821,47594,937,7.27872e+06
11,Ohio,437928,6671,37465,571,1.16891e+07
12,Louisiana,244078,6524,52504,1403,4.64879e+06
13,Indiana,359430,6033,53390,896,6.73222e+06
14,North Carolina,377231,5410,35968,516,1.04881e+07
15,Connecticut,121426,5091,34058,1428,3.56529e+06
16,Maryland,205399,4764,33975,788,6.04568e+06
17,Tennessee,384285,4688,56271,686,6.82917e+06
18,South Carolina,220835,4444,42891,863,5.14871e+06
19,Missouri,322963,4276,52622,697,6.13743e+06
20,Virginia,244503,4147,28645,486,8.53552e+06
21,Mississippi,159036,3879,53437,1303,2.97615e+06
22,Minnesota,333626,3843,59157,681,5.63963e+06
23,Alabama,260359,3776,53100,770,4.90318e+06
24,Wisconsin,395090,3502,67857,601,5.82243e+06
25,Colorado,241172,3193,41879,554,5.75874e+06
26,Washington,177088,2869,23255,377,7.61489e+06
27,Arkansas,161521,2522,53523,836,3.0178e+06
28,Iowa,236794,2519,75052,798,3.15507e+06
29,Nevada,156996,2201,50970,715,3.08016e+06
30,Kentucky,186765,1980,41804,443,4.46767e+06
31,Oklahoma,202341,1812,51135,458,3.95697e+06
32,Kansas,163969,1679,56283,576,2.91331e+06
33,New Mexico,100963,1629,48150,777,2.09683e+06
34,Rhode Island,59005,1391,55699,1313,1.05936e+06
35,Nebraska,130194,1080,67304,558,1.93441e+06
36,South Dakota,82203,995,92921,1125,884659
37,Idaho,104734,991,58607,555,1.78706e+06
38,North Dakota,80135,966,105155,1268,762062
39,Oregon,78160,953,18531,226,4.21774e+06
40,Utah,202220,906,63076,283,3.20596e+06
41,West Virginia,51025,789,28471,440,1.79215e+06
42,Delaware,36698,779,37687,800,973764
43,Montana,64340,713,60200,667,1.06878e+06
44,District Of Columbia,22164,692,31405,981,705749
45,New Hampshire,22332,537,16424,395,1.35971e+06
46,Hawaii,18044,244,12744,172,1.41587e+06
47,Wyoming,34537,230,59674,397,578759
48,Maine,12554,220,9339,164,1.34421e+06
49,Alaska,32531,121,44469,165,731545
0,New YorkTexasCaliforniaFloridaNew JerseyIllino...,13979674,273299,2.32294e+06,38920,3.27616e+08

In [59]:
DeathTotals3['State'].unique()

array(['New York', 'Texas', 'California', 'Florida', 'New Jersey',
       'Illinois', 'Pennsylvania', 'Massachusetts', 'Michigan', 'Georgia',
       'Arizona', 'Ohio', 'Louisiana', 'Indiana', 'North Carolina',
       'Connecticut', 'Maryland', 'Tennessee', 'South Carolina',
       'Missouri', 'Virginia', 'Mississippi', 'Minnesota', 'Alabama',
       'Wisconsin', 'Colorado', 'Washington', 'Arkansas', 'Iowa',
       'Nevada', 'Kentucky', 'Oklahoma', 'Kansas', 'New Mexico',
       'Rhode Island', 'Nebraska', 'South Dakota', 'Idaho',
       'North Dakota', 'Oregon', 'Utah', 'West Virginia', 'Delaware',
       'Montana', 'District Of Columbia', 'New Hampshire', 'Hawaii',
       'Wyoming', 'Maine', 'Alaska',
       'New YorkTexasCaliforniaFloridaNew JerseyIllinoisPennsylvaniaMassachusettsMichiganGeorgiaArizonaOhioLouisianaIndianaNorth CarolinaConnecticutMarylandTennesseeSouth CarolinaMissouriVirginiaMississippiMinnesotaAlabamaWisconsinColoradoWashingtonArkansasIowaNevadaKentuckyOklahomaKansasNew MexicoRhode IslandNebraskaSouth DakotaIdahoNorth DakotaOregonUtahWest VirginiaDelawareMontanaDistrict Of ColumbiaNew HampshireHawaiiWyomingMaineAlaska'],
      dtype=object)

In [61]:
DeathTotals3.loc[(DeathTotals3.State=='New YorkTexasCaliforniaFloridaNew JerseyIllinoisPennsylvaniaMassachusettsMichiganGeorgiaArizonaOhioLouisianaIndianaNorth CarolinaConnecticutMarylandTennesseeSouth CarolinaMissouriVirginiaMississippiMinnesotaAlabamaWisconsinColoradoWashingtonArkansasIowaNevadaKentuckyOklahomaKansasNew MexicoRhode IslandNebraskaSouth DakotaIdahoNorth DakotaOregonUtahWest VirginiaDelawareMontanaDistrict Of ColumbiaNew HampshireHawaiiWyomingMaineAlaska'), 'State'] = 'Total'

In [62]:
DeathTotals3

,State,Total Cases,Total Deaths,Cases per 1M,Deaths per 1M,Population
0,New York,703443,34728,36160,1785,1.94536e+07
1,Texas,1299915,22505,44831,776,2.89959e+07
2,California,1269389,19443,32126,492,3.95122e+07
3,Florida,1018160,18776,47405,874,2.14777e+07
4,New Jersey,358048,17337,40311,1952,8.88219e+06
5,Illinois,748603,13397,59076,1057,1.26718e+07
6,Pennsylvania,391764,11000,30602,859,1.2802e+07
7,Massachusetts,234232,10824,33984,1570,6.8925e+06
8,Michigan,402886,9842,40342,985,9.98686e+06
9,Georgia,482139,9567,45410,901,1.06174e+07
10,Arizona,346421,6821,47594,937,7.27872e+06
11,Ohio,437928,6671,37465,571,1.16891e+07
12,Louisiana,244078,6524,52504,1403,4.64879e+06
13,Indiana,359430,6033,53390,896,6.73222e+06
14,North Carolina,377231,5410,35968,516,1.04881e+07
15,Connecticut,121426,5091,34058,1428,3.56529e+06
16,Maryland,205399,4764,33975,788,6.04568e+06
17,Tennessee,384285,4688,56271,686,6.82917e+06
18,South Carolina,220835,4444,42891,863,5.14871e+06
19,Missouri,322963,4276,52622,697,6.13743e+06
20,Virginia,244503,4147,28645,486,8.53552e+06
21,Mississippi,159036,3879,53437,1303,2.97615e+06
22,Minnesota,333626,3843,59157,681,5.63963e+06
23,Alabama,260359,3776,53100,770,4.90318e+06
24,Wisconsin,395090,3502,67857,601,5.82243e+06
25,Colorado,241172,3193,41879,554,5.75874e+06
26,Washington,177088,2869,23255,377,7.61489e+06
27,Arkansas,161521,2522,53523,836,3.0178e+06
28,Iowa,236794,2519,75052,798,3.15507e+06
29,Nevada,156996,2201,50970,715,3.08016e+06
30,Kentucky,186765,1980,41804,443,4.46767e+06
31,Oklahoma,202341,1812,51135,458,3.95697e+06
32,Kansas,163969,1679,56283,576,2.91331e+06
33,New Mexico,100963,1629,48150,777,2.09683e+06
34,Rhode Island,59005,1391,55699,1313,1.05936e+06
35,Nebraska,130194,1080,67304,558,1.93441e+06
36,South Dakota,82203,995,92921,1125,884659
37,Idaho,104734,991,58607,555,1.78706e+06
38,North Dakota,80135,966,105155,1268,762062
39,Oregon,78160,953,18531,226,4.21774e+06
40,Utah,202220,906,63076,283,3.20596e+06
41,West Virginia,51025,789,28471,440,1.79215e+06
42,Delaware,36698,779,37687,800,973764
43,Montana,64340,713,60200,667,1.06878e+06
44,District Of Columbia,22164,692,31405,981,705749
45,New Hampshire,22332,537,16424,395,1.35971e+06
46,Hawaii,18044,244,12744,172,1.41587e+06
47,Wyoming,34537,230,59674,397,578759
48,Maine,12554,220,9339,164,1.34421e+06
49,Alaska,32531,121,44469,165,731545
0,Total,13979674,273299,2.32294e+06,38920,3.27616e+08

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51 entries, 0 to 0
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   State          51 non-null     object
 1   Total Cases    51 non-null     object
 2   Total Deaths   51 non-null     object
 3   Cases per 1M   51 non-null     object
 4   Deaths per 1M  51 non-null     object
 5   Population     51 non-null     object
dtypes: object(6)
memory usage: 3.6+ KB

In [64]:
DeathTotals3.reset_index(drop=True, inplace=True)
DeathTotals3

,State,Total Cases,Total Deaths,Cases per 1M,Deaths per 1M,Population
0,New York,703443,34728,36160,1785,1.94536e+07
1,Texas,1299915,22505,44831,776,2.89959e+07
2,California,1269389,19443,32126,492,3.95122e+07
3,Florida,1018160,18776,47405,874,2.14777e+07
4,New Jersey,358048,17337,40311,1952,8.88219e+06
5,Illinois,748603,13397,59076,1057,1.26718e+07
6,Pennsylvania,391764,11000,30602,859,1.2802e+07
7,Massachusetts,234232,10824,33984,1570,6.8925e+06
8,Michigan,402886,9842,40342,985,9.98686e+06
9,Georgia,482139,9567,45410,901,1.06174e+07
10,Arizona,346421,6821,47594,937,7.27872e+06
11,Ohio,437928,6671,37465,571,1.16891e+07
12,Louisiana,244078,6524,52504,1403,4.64879e+06
13,Indiana,359430,6033,53390,896,6.73222e+06
14,North Carolina,377231,5410,35968,516,1.04881e+07
15,Connecticut,121426,5091,34058,1428,3.56529e+06
16,Maryland,205399,4764,33975,788,6.04568e+06
17,Tennessee,384285,4688,56271,686,6.82917e+06
18,South Carolina,220835,4444,42891,863,5.14871e+06
19,Missouri,322963,4276,52622,697,6.13743e+06
20,Virginia,244503,4147,28645,486,8.53552e+06
21,Mississippi,159036,3879,53437,1303,2.97615e+06
22,Minnesota,333626,3843,59157,681,5.63963e+06
23,Alabama,260359,3776,53100,770,4.90318e+06
24,Wisconsin,395090,3502,67857,601,5.82243e+06
25,Colorado,241172,3193,41879,554,5.75874e+06
26,Washington,177088,2869,23255,377,7.61489e+06
27,Arkansas,161521,2522,53523,836,3.0178e+06
28,Iowa,236794,2519,75052,798,3.15507e+06
29,Nevada,156996,2201,50970,715,3.08016e+06
30,Kentucky,186765,1980,41804,443,4.46767e+06
31,Oklahoma,202341,1812,51135,458,3.95697e+06
32,Kansas,163969,1679,56283,576,2.91331e+06
33,New Mexico,100963,1629,48150,777,2.09683e+06
34,Rhode Island,59005,1391,55699,1313,1.05936e+06
35,Nebraska,130194,1080,67304,558,1.93441e+06
36,South Dakota,82203,995,92921,1125,884659
37,Idaho,104734,991,58607,555,1.78706e+06
38,North Dakota,80135,966,105155,1268,762062
39,Oregon,78160,953,18531,226,4.21774e+06
40,Utah,202220,906,63076,283,3.20596e+06
41,West Virginia,51025,789,28471,440,1.79215e+06
42,Delaware,36698,779,37687,800,973764
43,Montana,64340,713,60200,667,1.06878e+06
44,District Of Columbia,22164,692,31405,981,705749
45,New Hampshire,22332,537,16424,395,1.35971e+06
46,Hawaii,18044,244,12744,172,1.41587e+06
47,Wyoming,34537,230,59674,397,578759
48,Maine,12554,220,9339,164,1.34421e+06
49,Alaska,32531,121,44469,165,731545
50,Total,13979674,273299,2.32294e+06,38920,3.27616e+08

In [80]:
DeathTotals3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   State          51 non-null     object
 1   Total Cases    51 non-null     object
 2   Total Deaths   51 non-null     object
 3   Cases per 1M   51 non-null     object
 4   Deaths per 1M  51 non-null     object
 5   Population     51 non-null     object
dtypes: object(6)
memory usage: 1.3+ KB

In [81]:
DeathTotals3 = DeathTotals3.astype({"State": str, "Total Cases": int, 'Total Deaths': int, 'Cases per 1M': int, 'Deaths per 1M': int, 'Population': int})

In [82]:
DeathTotals3

,State,Total Cases,Total Deaths,Cases per 1M,Deaths per 1M,Population
0,New York,703443,34728,36160,1785,19453561
1,Texas,1299915,22505,44831,776,28995881
2,California,1269389,19443,32126,492,39512223
3,Florida,1018160,18776,47405,874,21477737
4,New Jersey,358048,17337,40311,1952,8882190
5,Illinois,748603,13397,59076,1057,12671821
6,Pennsylvania,391764,11000,30602,859,12801989
7,Massachusetts,234232,10824,33984,1570,6892503
8,Michigan,402886,9842,40342,985,9986857
9,Georgia,482139,9567,45410,901,10617423
10,Arizona,346421,6821,47594,937,7278717
11,Ohio,437928,6671,37465,571,11689100
12,Louisiana,244078,6524,52504,1403,4648794
13,Indiana,359430,6033,53390,896,6732219
14,North Carolina,377231,5410,35968,516,10488084
15,Connecticut,121426,5091,34058,1428,3565287
16,Maryland,205399,4764,33975,788,6045680
17,Tennessee,384285,4688,56271,686,6829174
18,South Carolina,220835,4444,42891,863,5148714
19,Missouri,322963,4276,52622,697,6137428
20,Virginia,244503,4147,28645,486,8535519
21,Mississippi,159036,3879,53437,1303,2976149
22,Minnesota,333626,3843,59157,681,5639632
23,Alabama,260359,3776,53100,770,4903185
24,Wisconsin,395090,3502,67857,601,5822434
25,Colorado,241172,3193,41879,554,5758736
26,Washington,177088,2869,23255,377,7614893
27,Arkansas,161521,2522,53523,836,3017804
28,Iowa,236794,2519,75052,798,3155070
29,Nevada,156996,2201,50970,715,3080156
30,Kentucky,186765,1980,41804,443,4467673
31,Oklahoma,202341,1812,51135,458,3956971
32,Kansas,163969,1679,56283,576,2913314
33,New Mexico,100963,1629,48150,777,2096829
34,Rhode Island,59005,1391,55699,1313,1059361
35,Nebraska,130194,1080,67304,558,1934408
36,South Dakota,82203,995,92921,1125,884659
37,Idaho,104734,991,58607,555,1787065
38,North Dakota,80135,966,105155,1268,762062
39,Oregon,78160,953,18531,226,4217737
40,Utah,202220,906,63076,283,3205958
41,West Virginia,51025,789,28471,440,1792147
42,Delaware,36698,779,37687,800,973764
43,Montana,64340,713,60200,667,1068778
44,District Of Columbia,22164,692,31405,981,705749
45,New Hampshire,22332,537,16424,395,1359711
46,Hawaii,18044,244,12744,172,1415872
47,Wyoming,34537,230,59674,397,578759
48,Maine,12554,220,9339,164,1344212
49,Alaska,32531,121,44469,165,731545
50,Total,13979674,273299,2322938,38920,327615534